﻿@model WebApplication.Models.CommentModel
<div class="container">
    <h1 class="text-white">Комментарии: </h1>
    <div class="row">
        @foreach (var comment in ViewBag.Comments)
        {
            <div class="col-12">
                <div class="card mt-3">
                        @if (ViewBag.EditId != null && ViewBag.EditId == comment.Id)
                        {
                            <div class="card-header">
                                Пользователь: @comment.UserModel.Login
                            </div>
                            <div class="card-body">
                                <form asp-controller="Home" asp-action="EditComment" asp-route-id="@ViewBag.EditId">
                                    <blockquote class="blockquote mb-0">
                                        <textarea asp-for="CommentText" type="text" class="form-control">
                                            
                                        </textarea>
                                        <button type="submit" class="btn btn-secondary mt-3">Сохранить изменения</button>
                                    </blockquote>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div class="card-header">
                                Пользователь: @comment.UserModel.Login
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>@comment.CommentText</p>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        @if (comment.Hidden)
                                        {
                                            <a class="ml-auto btn btn-success" asp-controller="Home" asp-action="HideComment" asp-route-id="@comment.Id">
                                                <span>Показать</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="ml-auto btn btn-danger" asp-controller="Home" asp-action="HideComment" asp-route-id="@comment.Id">
                                                <span>Скрыть</span>
                                            </a>
                                        }
                                        <a class="ml-auto btn btn-info" asp-controller="Home" asp-action="EditCommentView" asp-route-id="@comment.Id">
                                            <span>Редактировать</span>
                                        </a>
                                    }
                                </blockquote>
                            </div>
                        }
                </div>
            </div>
        }
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="text-white">Оставить свой комментарий: </h1>
        @Html.ValidationSummary()
        ;
        <form class="text-white" method="post">
            <div class="form-row mt-3">
                <div class="col">
                    <label for="input12">Текст: </label>
                    <textarea asp-for="CommentText" type="text" class="form-control" id="input12"></textarea>
                    <span asp-validation-for="CommentText"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary mt-3">Добавить комментарий</button>
        </form>
    }
    else
    {
        <h1 class="text-white">Извиниите, но чтобы оставить свой комментарий необходимо войти!</h1>
    }
</div>

@section Scripts {
    @{ Html.RenderPartial("_ValidationScriptsPartial"); }
}