﻿@model WebApplication.Models.UserModel
<div class="container">
    @if (Model == null)
    {
        <h1 class="text-white">Регистрация</h1>
        @Html.ValidationSummary();
        <form class="text-white" method="post">
            <div class="form-row mt-3">
                <div class="col">
                    <label for="input6">
                        Почта (Email):
                    </label>
                    <input asp-for="Email" type="text" class="form-control"
                           placeholder="name@example.com" id="input6">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="col">
                    <label for="input5">Ваш телефон: </label>
                    <input asp-for="PhoneNumber" type="text" class="form-control" id="input5">
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="col">
                    <label for="input4">Ваше ФИО: </label>
                    <input asp-for="FullName" type="text" class="form-control" id="input4">
                    <span asp-validation-for="FullName"></span>
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="col">
                    <legend class="pt-0 text-white">Ваш пол: </legend>
                    <div class="form-check">
                        <input asp-for="Sex" class="form-check-input" type="radio" value="m" id="input3">
                        <label class="form-check-label" for="input3">
                            Мужской
                        </label>
                    </div>
                    <div class="form-check">
                        <input asp-for="Sex" class="form-check-input" type="radio" value="w" id="input2">
                        <label class="form-check-label" for="input2">
                            Женский
                        </label>
                    </div>
                </div>
                <div class="col">
                    <label for="input1">Пароль: </label>
                    <input asp-for="Password" type="password" class="form-control" id="input1">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="col">
                    <label for="input11">Повторите пароль: </label>
                    <input asp-for="ResetPassword" type="password" class="form-control" id="input11">
                    <span asp-validation-for="ResetPassword"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="input12">Логин: </label>
                    <input asp-for="Login" type="text" class="form-control" id="input12">
                    <span asp-validation-for="Login"></span>
                </div>
                <div class="col">
                    <label for="inputState">Год вашего рождения</label>
                    <select asp-for="Year" id="inputState" class="form-control">
                        <option selected>2020</option>
                        @for (int i = 2019; i > 1000; i--)
                        {
                            <option>@i</option>
                        }
                    </select>
                    <span asp-validation-for="Year"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary mt-3">Создать</button>
        </form>
    }
    else
    {
    <h1 class="text-white">Пользователь "@Model.FullName" успешно получен!</h1>
    }
</div>

@section Scripts {
    @{ Html.RenderPartial("_ValidationScriptsPartial"); }
}