﻿@{
    ViewData["FirstParagraph"] = "Это очень интересный проект, который написан с огромным числом технологий, такие как kotlin и react. Данный сервис было необходимо подднять в кротчайшие сроки, поэтому нами было принято решение используя уже готовые наработки быстро создать минимальную рабочую версию";
    ViewData["SecondParagraph"] = "Это очень интересный проект, который написан с огромным числом технологий, такие как kotlin и react. Данный сервис было необходимо подднять в кротчайшие сроки, поэтому нами было принято решение используя уже готовые наработки быстро создать минимальную рабочую версию";
}

<div class="bg-dark pt-1 pb-1 mh-100">
  <div class="container">
    <h1 class="text-white mt-2 mb-1">Краткая история сайта расписания:</h1>
    <p class="text-white">@ViewData["FirstParagraph"]</p>
    <h2 class="text-white mt-2 mb-1">Вот немного фото нашего проекта:</h2>
    <div id="carouselExampleControls" class="carousel slide mt-2 mb-2" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="img-wrapper d-block w-100">
            <img src="~/images/rasp-1.png" alt="rasp">
          </div>
        </div>
        <div class="carousel-item">
          <div class="img-wrapper d-block w-100">
            <img src="~/images/rasp-2.png" alt="rasp">
          </div>
        </div>
        <div class="carousel-item">
          <div class="img-wrapper d-block w-100">
            <img src="~/images/rasp-3.png" alt="rasp">
          </div>
        </div>
        <div class="carousel-item">
          <div class="img-wrapper d-block w-100">
            <img src="~/images/rasp-4.png" alt="rasp">
          </div>
        </div>
        <div class="carousel-item">
          <div class="img-wrapper d-block w-100">
            <img src="~/images/rasp-5.png" alt="rasp">
          </div>
        </div>
        <div class="carousel-item">
          <div class="img-wrapper d-block w-100">
            <img src="~/images/rasp-6.png" alt="rasp">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <p class="text-white">@ViewData["SecondParagraph"]</p>
    <h2 class="text-white mt-2 mb-1">Наш состав команды:</h2>
    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Группа</th>
        <th scope="col">Что делал</th>
        <th scope="col">Ссылка на человека</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Юсупов</td>
        <td>Наиль</td>
        <td>ПИп-1703а</td>
        <td>Писал frontend и backend часть web-сервиса</td>
        <td class="text-center"><a href="https://vk.com/nail_j" target="_blank">ВК</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Шналиев</td>
        <td>Максим</td>
        <td>Отчислен</td>
        <td>Создавал дизайн сайта и админ панели</td>
        <td class="text-center"><a href="https://vk.com/konurev" target="_blank">ВК</a></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Федосеев</td>
        <td>Евгений</td>
        <td>ПИп-1703а</td>
        <td>Выкладывал все на оф. домен ТГУ, писал самую первую версию</td>
        <td class="text-center"><a href="https://vk.com/id105171916" target="_blank">ВК</a></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Плещева</td>
        <td>Александра</td>
        <td>ПИп-1703а</td>
        <td>Писала мобильную версию, для старого расписания</td>
        <td class="text-center"><a href="https://vk.com/aeksandla" target="_blank">ВК</a></td>
      </tr>
      </tbody>
    </table>
    <h2 class="text-white mt-2 mb-1">Вы также можете ознакомиться с ссылками по проекту:</h2>
    <ul>
      <li><a href="https://rasp.tltsu.ru">Сайт расписания</a></li>
    </ul>
    <h2 class="text-white mt-2 mb-1">Возможно вам также будут интересны проекты ниже:</h2>
    
    <div class="row">
        <div class="col-3 mb-5">
            <div class="card text-white bg-secondary">
                <div class="img-wrapper">
                    <img src="~/images/kampus-main.png" class="card-img-top" alt="logo kampus">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Умный кампус</h5>
                    <p class="card-text">Проект по автоматизации управления освещением в стенах ТГУ.</p>
                    <a asp-area="" asp-controller="Home" asp-action="GetProjectById" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
  </div>
  
</div>