﻿@{
    ViewData["Title"] = "Наши проекты: ";
}

<div class="container">
    <h1 class="text-white">@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-3 mb-5">
            <div class="card text-white bg-secondary">
                <div class="img-wrapper">
                    <img src="~/images/rasp-logo.jpg" class="card-img-top" alt="logo rasp">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Расписание ТГУ</h5>
                    <p class="card-text">Проект по созданию официального онлайн сервиса для просмотра расписания ТГУ. Планируется разработка сайта и не только.</p>
                    <a asp-area="" asp-controller="Home" asp-action="GetProjectById" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>