﻿<div class="container">
    <h1 class="text-white">Это полезные ссылки, компании, которые сделают лучше, чем мы :):</h1>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <a target="_blank" class="d-block w-100" href="https://directline.digital/">
                  <div class="img-wrapper d-block w-100">
                    <img src="~/images/dl-logo.png" alt="dl">
                  </div>
              </a>
          </div>
          <div class="carousel-item">
              <a target="_blank" class="d-block w-100" href="https://www.netcracker.com/">
                  <div class="img-wrapper d-block w-100">
                    <img src="~/images/nc-logo.png" alt="nc">
                  </div>
              </a>
          </div>
          <div class="carousel-item">
              <a target="_blank" class="d-block w-100" href="https://www.epam-group.ru/">
                  <div class="img-wrapper d-block w-100">
                    <img src="~/images/epam-logo.jpg" alt="epam">
                  </div>
              </a>
          </div>
          <div class="carousel-item">
              <a target="_blank" class="d-block w-100" href="https://kt.team/">
                  <div class="img-wrapper d-block w-100">
                    <img src="~/images/kt-logo.png" alt="kt">
                  </div>
              </a>
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>