﻿@model List<WebApplication.Models.UserModel> 

<div class="bg-dark pt-1 pb-1 mh-100">
    <div class="container">
        <h2 class="text-white mt-2 mb-1">Список пользователей:</h2>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">ФИО</th>
                <th scope="col">Год рождения</th>
                <th scope="col">Пол</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var User in Model)
            {
                <tr>
                    <th scope="row">@User.Id</th>
                    <td>@User.FullName</td>
                    <td>@User.Year</td>
                    @if (User.Sex.Equals("w"))
                    {
                        <td>Женский</td>
                    }
                    else
                    {
                        <td>Мужской</td>
                    }
                    <td>@User.Email</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>