﻿@model WebApplication.Models.LoginModel
<div class="container">
    @if (Model == null)
    {
        <h1 class="text-white">Регистрация</h1>
        @Html.ValidationSummary();
        <form class="text-white" method="post">
            <div class="form-row mt-3">
                <div class="col">
                    <label for="input12">Логин: </label>
                    <input asp-for="Login" type="text" class="form-control" id="input12">
                    <span asp-validation-for="Login"></span>
                </div>
                <div class="col">
                    <label for="input1">Пароль: </label>
                    <input asp-for="Password" type="password" class="form-control" id="input1">
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary mt-3">Войти</button>
        </form>
    }
    else
    {
        <h1 class="text-white">Пользователь "@Model.Login" успешно вошел!</h1>
    }
</div>

@section Scripts {
    @{ Html.RenderPartial("_ValidationScriptsPartial"); }
}