﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="bg-dark">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow border-dark navbar-dark bg-dark">
        <div class="container">
            <a  asp-controller="Home" asp-action="Index"> <img width="50" height="50" alt="main-logo"  src="~/images/ava-vk.png"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-withe" asp-area="" asp-controller="Home" asp-action="Index">Домашняя страница</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-withe" asp-area="" asp-controller="Home" asp-action="Privacy">Политика конфиденциальности</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-withe" asp-area="" asp-controller="Home" asp-action="Links">Полезные ссылки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-withe" asp-area="" asp-controller="Home" asp-action="AddComment">Комментарии</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-withe" asp-area="" asp-controller="Home" asp-action="Logout">Выйти @User.Identity.Name </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-withe" asp-area="" asp-controller="Home" asp-action="AddUser">Регистрация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-withe" asp-area="" asp-controller="Home" asp-action="Login">Войти</a>
                        </li>
                    }
                    
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-withe" asp-area="" asp-controller="Home" asp-action="ListUsers">Список пользователей</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
    <main role="main">
        @RenderBody()
    </main>


<footer class="footer text-muted bg-dark">
    <div class="container text-white">
        &copy; 2020 - WebApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Политика конфиденциальности</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>